.cabecera {
    font-family: Arial, sans-serif;
    background-color: #191919;
    font-size: 20px;
}

.menu {
    width: 80%;
    margin: auto;
    position: sticky;
    top: 0;
}

.logo {
    display: inline-block;
    height: 50px;
    position: absolute;
    bottom: 5px;
}

.logo img {
    height: 100%;
}

.menu_buttons {
    margin-left: 80px;
}

.cabecera a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.cabecera a:hover {
    background-color: #007daf;
}

.cabecera a {
    padding-inline: 30px;
    padding-block: 20px;
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #828282c8;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a {
    display: block;
}

.cabecera i {
    display: inline;
    padding-left: 10px;
    line-height: 0;
    position: relative;
    top: 5px;
}