img {
    width: 100%;
}

.cuerpo {
    width: 100%;
    margin: auto;

}

.carta {
    display: inline-block;
    width:calc(33% - 20px);
    text-align: justify;
    margin-inline: 5px;
    margin-bottom: 20px;
    background-color: rgb(234, 230, 230);
    z-index: -1;
}

.carta img {
    z-index: 1;
    position: relative;
    
}

.descripcion {
    opacity: 100%;
    z-index: 0;
    position: absolute;
    margin-top: 0;    
}

.carta:hover  img {
    opacity: 0;
    transition-duration: 1.5s;
    transition-property: initial;
}

@media screen and ((min-width: 768px) and (max-width: 1024px)  ) {  
    .card{
        width: calc(50% - 20px)
    }
}

@media screen and ((min-width: 360px) and (max-width: 400px)  ) {  
    .card{
        width: calc(100% - 20px)
    }
}

