/*************************/
/* DISTRIBUCIÓN CON GRID */
/*************************/
.cuerpo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: repeat( auto , 200px);
}
body{
    margin: 0;
}
/***********************/
/* PANEL FRONTAL       */
/***********************/

.panel_frontal{
    grid-row: 2;
    grid-column: 1 / 5;
    margin-top: 0;
}
.panel_frontal img{
    margin-top: 0;
    height: 800px;
    width: 100%;
}
.material-symbols-outlined{
    position: absolute;
    top: 5%;
    left: -50px;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    animation: moveOche 5s linear infinite;
  }

  @keyframes moveOche {
    0% { left: -50px; }
    100% { left: calc(100% + 50px); }
  }
.material-symbols-outlined1{
    position: absolute;
    top: 5%;
    left: -50px;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    animation: moveOche 5s linear infinite;
  }

  @keyframes moveOche {
    0% { left: -50px; }
    100% { left: calc(100% + 50px); }
  }




/*****************/
/* PARRAFOS */
/*****************/
.parrafo p{
    text-align: justify;
    margin-block: 20%;
}
.parrafo_1{
    grid-column: 2;
    grid-row: 3;
}
.parrafo_2{
    grid-column: 3;
    grid-row: 4;
}
.parrafo_3{
    grid-column: 2;
    grid-row: 5;
}
.parrafo_4{
    grid-column: 3;
    grid-row: 1 / 5;
}

/*****************/
/* IMAGENES      */
/*****************/


.imagen_1{
    grid-column: 3 / 4;
    grid-row: 3;
}
.imagen_1 img{
    height: 300px;
    width: 500px;
}
.imagen_2{
    grid-column: 2;
    grid-row: 4; 
}
.imagen_2 img{
    height: 300px;
    width: 500px;
}
.imagen_3{
    grid-column: 3;
    grid-row: 5; 
}
.imagen_3 img{
    height: 300px;
    width: 500px;
}

