.coche_combustion img {
    width: 100%;
}

.coche_electrico img {
    width: 100%;
}

.moto img {
    width: 100%;
}

body {
    background-color: rgb(240, 240, 240) ;
    margin: 0;
}

.organizacion {
    display: grid;
    grid-template-columns: 15% auto 30%;
    background-color: rgb(240, 240, 240);
    margin-top: 10px;
}

.cuerpo {
    width: 80%;
    margin: 0;
    margin-top: 15px;
    text-align: justify; 
    border-color:rgb(18, 19, 20) ;
}

.vertical {
    border-style: groove;
    border-color:  rgb(168, 167, 167);
    height: 100%;
    width: 400px;
    background-color: rgb(206, 206, 206);
}

.vertical_iz {
    border-style: groove;
    border-color:  rgb(168, 167, 167);
    height: 100%;
    background-color: rgb(206, 206, 206);
}
.borde{
    border-style: groove;
    border-color: rgb(168, 167, 167);
    width: 370px;
    height: 475px;
    margin: auto;
    margin-bottom: 90px;
    margin-top: 10px; 
    background-color: rgb(240, 240, 240);
}

.borde div {
    width: 345px;
    height: 450px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px; 

}

.vertical1 { background-image: url(../imagenes/vertical1.jpg); background-size: cover; }
.vertical2 { background-image: url(../imagenes/vertical2.avif); background-size: cover; }
.mapfre { background-image: url(../imagenes/mapfre.png); background-size: cover; }

