.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}
.tarjeta {
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f7f7f7;
    margin-inline: 10px;
    height: 300px;
    position: relative;
    z-index: -1;
}
.tarjeta img{
    height: 100%;
    width: 100%;
}

.tarjeta p{
    position: absolute;
}

