.cuerpo {
    width: 90%;
    margin: auto;
}

.preguntas {
h1 {
    margin-bottom: 100px;
}

h2, h3, p {
    margin-inline:  30px;
    
}
.a1 {
    width: 100%;
    border-style: outset;
    border-color: rgb(209, 209, 209);
    margin-bottom: 10px;

}

.respuestas {
    width: 100%;
    border-style: outset;
    border-color: rgb(209, 209, 209);
}

.non {
    display: none;
}

.respuestas:hover {
    .a1{
        height:auto ;
    }
    .non {
        display: block;
    }
    .none{
        display: block;
    }
}

.none {
    display: none;
}
.a1:hover {
    height: auto;
    .none{
        display: block;
    }
}

.anuncio {
    width: 100%;
    height: auto;
    margin-bottom: 100px;    
}
.anuncio img {
    width: 100%;
    margin: auto;
}
}

@media screen and (min-width: 360px) and (max-width: 400px) {
    .preguntas h1{
        margin-bottom: 30px;
    }
    .anuncio {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .preguntas h1{
        margin-bottom: 50px;
    }
    .anuncio {
        margin-bottom: 0px;
    }
}